@mixin to-do-block {
  .list-block {
    min-height: 381px;
    max-width: 750px;
    margin: 0 auto;
    padding-bottom: 12px;
    background-color: #25273c;
    color: #fff;
    border: 1px solid #cccccc14;
    border-radius: 6px;
  }

  .tasks-block {
    min-height: 378px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .task-block {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .pagination {
    display: flex;
    gap: 10px;
    justify-content: center;
    height: 24px;
  }

  .pagination-button {
    cursor: pointer;
    background-color: #25273c;
    border: none;
  }

  .no-task-block {
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loader-block-block {
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .spinner {
    width: 56px;
    height: 56px;
    display: grid;
    border: 4.5px solid #0000;
    border-radius: 50%;
    border-color: #dbdcef #0000;
    animation: spinner-e04l1k 1s infinite linear;
  }

  .spinner::before,
  .spinner::after {
    content: '';
    grid-area: 1/1;
    margin: 2.2px;
    border: inherit;
    border-radius: 50%;
  }

  .spinner::before {
    border-color: #474bff #0000;
    animation: inherit;
    animation-duration: 0.5s;
    animation-direction: reverse;
  }

  .spinner::after {
    margin: 8.9px;
  }

  @keyframes spinner-e04l1k {
    100% {
      transform: rotate(1turn);
    }
  }
}
