@mixin item-block {
  .item-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px;
    border-bottom: 1px solid #cccccc14;
    list-style: none;
    color: #fff;
    word-break: break-all;
    gap: 16px;
  }

  .crossedText {
    text-decoration: line-through;
    color: #b3b3b3;
  }

  .manipulate-block {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .main-button {
    width: 30px;
    height: 30px;
    border: 1px solid #999999;
    border-radius: 5px;
  }

  input {
    display: none;
    &:checked + label {
      background-color: #373a57;
    }
  }

  .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 28px;
    height: 28px;
    border: 1px solid #999999;
    border-radius: 5px;
    cursor: pointer;
  }
  .disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.2;
  }
}
